@import "tailwindcss";

@layer base{
  h1,h2,h3,h4,h5,h6{
   font-weight: 700; 
  }
}

@theme {

    --color-grey:#cbc1b8;
}


@keyframes driftBg{
    0% {background-position: 0% 30%;}
    50% {background-position: 30% 70%;}
    100% {background-position: 0% 30%;}
}
.kimono-form{
    background-size: 250% 250%;
    animation: driftBg 15s ease-in-out infinite;
    will-change: background-position;
}

body {
        font-family: 'Nanum Gothic', sans-serif;
      }