@import "tailwindcss";

@theme{
    --font-cloud: "Kavoon" , serif;
    --font-nav: "Quantico" , sans-serif;
    --font-others: "Roboto" , sans-serif;
    --font-ops: "Black Ops One", serif;
}

@layer base{
  h1,h2,h3,h4,h5,h6{
   font-weight: 700; 
  }
}

@utility mask-image{
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

}

.cart{
  flex:0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px; 
   width: 80%;
  filter: grayscale(.8);
  transition: transform 1s;

}
.cart:hover{
  transform: scale(1.10)!important;
  filter: grayscale(0) !important;

}

.movement{
  display: flex;
  width: max-content;
  will-change: transform;
 animation: scroll 10s linear infinite; 
}
.reverse{
  animation-direction: reverse;
}
.movement:hover{
  animation-play-state: paused;
}

@keyframes scroll {
  0%{transform: translateX(0);}
  100%{transform: translateX(-50%);}
}