@import "tailwindcss";
/* ALWAYS USE THE OKLCH FORMAT FOR GRADIENTS */
@theme{
  --color-dark-beige: oklch(18.993% 0.11429 280.8 / 0.333);
  --font-foine: 'Georgia', 'Times New Roman';
}
@utility grid-cols-autofit{
  grid-template-columns: repeat(auto-fit,minmax(13.75rem,1fr));
}

@keyframes marquee{
  0%{transform: translate3d(100%,0, 0); }
  100%{transform: translate3d(-100%,0 ,0); }
}
.animate-marquee{
  animation: marquee 10s linear infinite;
}

@media (min-width: 768px){
  .animate-marquee{
    animation-duration: 25s;
  }
}


 @keyframes magic-button{
0%{ background-position: 0% 50%; }
33%{ background-position: 50% 100%; }
66%{ background-position: 100% 0%; }
100%{ background-position: 0% 50%; }
}
.hover-magic {
background-size: 300% 300%;
animation: magic-button 8s ease-in-out infinite;
will-change: background-position;
}

hover-magic:hover {
  animation-duration: 1.5s;
}
